<div id="volvocars_widget_ID" class="eqLogic-widget eqLogic noResize volvocars_widget volvocars_widget_#id# volvocars" style="min-width:385px !important; max-width:385px !important; min-height:710px; max-height:710px; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

	<div class="text-center widget-name">
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;"><img class="logo_car#id#" id="logo" src=""></img> #name_display# <span class="object_name">#object_name#</span></a>
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" onclick="jeedom.cmd.execute({id: #refresh_id#});">
			<i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
		</span>
	</div>

	<div class="container-fluid">
		<div>
			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Verrouillage}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-unlock-alt"></i></div>
				<div class="col-xs-12 value_tile #locked_history#id##" data-cmd_id="#locked_id#id##">
					<span class="value#locked_id#id##"></span>
				</div>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Accessibilité}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-check-circle"></i></div>
				<div class="col-xs-12 value_tile availability_history#id##" data-cmd_id="#availability_id#id##">
					<span class="value#availability_id#id##"></span>
				</div>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Toutes les portes}}</div>
				<div class="col-xs-4 icon_tile"><img src="/plugins/volvocars/desktop/img/doors_blue.png"></img></div>
				<div class="col-xs-12 value_tile allDoorsClosed_history#id##" data-cmd_id="#allDoorsClosed_id#id##">
					<span class="value#allDoorsClosed_id#id##"></span>
				</div>
			</div>
		</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Toutes les fenêtres}}</div>
				<div class="col-xs-4 icon_tile"><img src="/plugins/volvocars/desktop/img/windows_blue.png"></img></div>
				<div class="col-xs-12 value_tile #allWindowsClosed_history#id##" data-cmd_id="#allWindowsClosed#id##">
					<span class="value#allWinsClosed_id#id##"></span>
				</div>
			</div>

			<div class="col-xs-12 tile div_alert">
				<span
					id="div_al_oil#id#"
					class="#fuelEngineOnly#id## #al_oil_history##id#"
					data-cmd_id="#al_oil_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_coolant#id#"
					class="#fuelEngineOnly#id## #al_coolant_history#id##"
					data-cmd_id="#al_coolant_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_brake#id#"
					class="#al_brakeFluid_history#id##"
					data-cmd_id="#al_brakeFluid_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_wash#id#"
					class="#al_washerFluid_history#id##"
					data-cmd_id="#al_washerFluid_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_fuelautonomy#id#"
					class="#fuelEngineOnly#id## #al_fuelautonomy_history#id##"
					data-cmd_id="#al_fuelautonomy_id#id##"
					>
					<img src="/plugins/volvocars/desktop/img/station_recharge_grey_dark.svg">
				</span>
				<span
					id="div_al_electricautonomy#id#"
					class="#electricEngineOnly#id## #al_electricautonomy_history#id##"
					data-cmd_id="#al_electricautonomy_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_tyre#id#"
					class="#al_tyre_history#id##"
					data-cmd_id="#al_tyre_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_light#id#"
					class="#al_light_history#id##"
					data-cmd_id="#al_light_id#id##"
					>
					<img/>
				</span>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Présence}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-map-signs"></i></div>
				<div class="col-xs-12">
					<div class="div_presence Cmd#presenceSite1_id#id## #presenceSite1_hidden#id## #presenceSite1_history#id##" data-cmd_id="#presenceSite1_id#id##">
						<i class="fas fa-lg fa-house-user"></i><br>#site1_name#id##
					</div>
					<div class="div_presence Cmd#presenceSite2_id#id## #presenceSite2_hidden#id# #presenceSite2_history#id##" data-cmd_id="#presenceSite2_id#id##">
						<i class="fas fa-lg fa-house-user"></i><br>#site2_name#id##
					</div>
				</div>
			</div>

			<div class="col-xs-6 tile Cmd#odometer_id#id##">
				<div class="col-xs-8 title_tile">{{Kilométrage}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-map-signs"></i></div>
				<div class="col-xs-12 value_tile #odometer_history#id##" data-cmd_id="#odometer_id#id##">
					<span class="value#odometer_id#id##"></span> #odometer_unit#id##
				</div>
			</div>

			<div class="col-xs-4 tile Cmd#fuelAmount_id#id## #fuelEngineOnly#id##">
				<div class="col-xs-8 title_tile">{{Niveau carburant}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-gas-pump"></i></div>
				<div class="col-xs-12 value_tile #fuelAmount_history#id##" data-cmd_id="#fuelAmount_id#id##">
					<span class="value#fuelAmount_id#id##"></span> #fuelAmount_unit#id##
				</div>
			</div>

			<div class="col-xs-4 tile Cmd#fuelAutonomy_id#id## #fuelEngineOnly#id##">
				<div class="col-xs-8 title_tile">#fuelAutonomy_unit#id## {{restants}} ({{thermique}})</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-gas-pump"></i></div>
				<div class="col-xs-12 value_tile #fuelAutonomy_history#id##" data-cmd_id="#fuelAutonomy_id#id##">
					<span class="value#fuelAutonomy_id#id##"></span> #fuelAutonomy_unit#id##
				</div>
			</div>

			<div class="col-xs-4 tile Cmd#batteryLevel_id#id## #electricEngineOnly#id##">
				<div class="col-xs-8 title_tile">{{Batterie}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-car-battery"></i></div>
				<div class="col-xs-12 value_tile #batteryLevel_history#id##" data-cmd_id="#batteryLevel_id#id##">
					<span class="value#batteryLevel_id#id## tile-value"></span> #batteryLevel_unit#id##
				</div>
			</div>

			<div class="col-xs-4 tile Cmd#electricAutonomy_id#id## #electricEngineOnly#id##">
				<div class="col-xs-8 title_tile">#electricAutonomy_unit#id## {{restants}} ({{élctrique}})</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-gas-pump"></i></div>
				<div class="col-xs-12 value_tile #electricAutonomy_history#id##" data-cmd_id="#electricAutonomy_id#id##">
					<span class="value#electricAutonomy_id#id##"></span> #electricAutonomy_unit#id##
				</div>
			</div>

			<div class="col-xs-4 tile Cmd#connectorStatus_id#id## #electricEngineOnly#id##">
				<div class="col-xs-8 title_tile">{{Prise}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-plug"></i></div>
				<div class="col-xs-12 value_tile #connectorStatus_history#id##" data-cmd_id="#connectorStatus_id#id##">
					<span class="value#connectorStatus_id#id## tile-value"></span>
				</div>
			</div>

			<div class="col-xs-4 tile Cmd#chargingStatus_id#id## #electricEngineOnly#id##">
				<div class="col-xs-8 title_tile">{{Recharge}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-charging-station"></i></div>
				<div class="col-xs-12 value_tile">
					<div class="value_tile_1 #chargingStatus_history#id##" data-cmd_id=#chargingStatus_id#id##">
						<span class="value#chargingStatus_id#id## tile-value"></span>
					</div>
					<div class="value_tile_2">
						<span class="value#chargingEndTime_id#id##"></span>
					</div>
				</div>
			</div>

			<div class="col-xs-12 tile actions">
				<div class="col-xs-2 icon_tile"><i class="fas fa-lg fa-cogs"></i></div>
				<div class="col-xs-10 title_tile">{{Actions}}</div>
				<button class="btn cmd action #lock_hidden#id##"s
						title="{{Verrouiller}}"
						data-cmd_id="#lock_id#id##"s
						onclick="jeedom.cmd.execute({id: #lock_id#id##})">
					<i class="fas fa-lg fa-lock"></i>
				</button>
				<button class="btn cmd action #unlock_hidden#id##"
						title="{{Déverrouiller}}"
						data-cmd_id="#unlock_id#id##"
						onclick="jeedom.cmd.execute({id: #unlock_id#id##})">
					<i class="fas fa-lg fa-unlock"></i>
				</button>
				<button class="btn cmd action #climStart_idden#id##"
						title="{{Climatiser}}"
						data-cmd_id="#climStart_id#id##"
						onclick="jeedom.cmd.execute({id: #climStart_id#id##})">
					<i class="fas fa-lg fa-fan"></i>
				</button>
				<button class="btn cmd action #climStop_hidden#id##"
						title="{{Arrêt climatisation}}"
						data-cmd_id="#climStop_id#id##"
						onclick="jeedom.cmd.execute({id: #climStop_id#id##})">
					<span class="fa-stack">
						<i class="fas fa-lg fa-fan fa-stack-1x"></i>
						<i class="fas fa-lg fa-ban fa-stack-2x" style="color:red;"></i>
					</span>
				</button>
				<button class="btn cmd action #engineStart_hidden#id##"
						title="{{Démarrer moteur}}"
						data-cmd_id="#engineStart_id#id##"
						onclick="jeedom.cmd.execute({id: #engineStart_id#id##})">
			  		<img src='/plugins/volvocars/desktop/img/engine_start_dark.svg'/>	
				</button>
				<button class="btn cmd action #engineStop_hidden#id##"
						title="{{Arrêter moteur}}"
						data-cmd_id="#engineStop_id#id##"
						onclick="jeedom.cmd.execute({id: #engineStop_id#id##})">
					<img src='/plugins/volvocars/desktop/img/engine_stop_dark.svg'/>	
				</button>
				<button class="btn cmd action #flash_hidden#id##"
						title="{{Flash}}"
						data-cmd_id="#flash_id#id##"
						onclick="jeedom.cmd.execute({id: #flash_id#id##})">
					<i class="fas fa-lg fa-lightbulb "></i>
				</button>
				<button class="btn cmd action #honk_hidden#id##"
						title="{{Claxonner}}"
						data-cmd_id="#honk_id#id##"
						onclick="jeedom.cmd.execute({id: #honk_id#id##})">
					<i class="fas fa-lg fa-volume-up "></i>
				</button>
				<button class="btn cmd action #honk_flash_hidden#id#"
						title="{{Falsh et Claxon}}"
						data-cmd_id="#honk_flash_id#id##"
						onclick="jeedom.cmd.execute({id: #honk_flash_id#id##})">
					<i class="fas fa-lg fa-lightbulb "></i>
					<i class="fas fa-lg fa-volume-up "></i>
				</button>
				<br>
				<form class="form-horizontal #timeToRun_hidden#id##">
					<label>{{Durée de fonctionnement}} :</label>
					<input id="input#timeToRun_id#id##" type="number" min="#timeToRun_min#id##" max="#timeToRun_max#id##" step="1"/>
					{{Minutes}}
				</form>
			</div>
		</div>
	</div>
</div>

<script>

if (typeof volvocarsDashboard === "undefined") {
	var volvocarsDashboard = {
		loadCss: function () {
			let link = document.createElement('link')
			link.type = 'text/css'
			link.rel = 'stylesheet'
			link.href = '/plugins/volvocars/core/template/dashboard/volvocars_dashboard.css'
			document.head.appendChild(link)
		}
	}
	volvocarsDashboard.loadCss()
}

// RESIZING
// ========
if ("#electricEngineOnly#id##" == 'hidden') {
	document.querySelector('.Cmd#fuelAmount_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
	document.querySelector('.Cmd#fuelAutonomy_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
	document.querySelector('.volvocars_widget_#id#').style.maxHeight='605px'
	document.querySelector('.volvocars_widget_#id#').style.minHeight='605px'
}
if ("#fuelEngineOnly#id##" == 'hidden') {
	document.querySelector('.Cmd#batteryLevel_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
	document.querySelector('.Cmd#electricAutonomy_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
	document.querySelector('.Cmd#electricAutonomy_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
	document.querySelector('.Cmd#connectorStatus_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
	document.querySelector('.Cmd#chargingStatus_id#id##').removeClass('col-xs-4').addClass('col-xs-6')
}

// COMMANDS
// ========
for (cmdId of ['#lock_id#id##', '#unlock_id#id##', '#climStart_id#id##', '#climStop_id#id##', '#flash_id#id##', '#honk_id#id##',  '#honk_flash_id#id##']) {
	if (cmdId.startsWith('#')) {
		document.querySelector('button[data-cmd_id="' + cmdId + '"]').addClass('hidden')
	}
}
// LOCKED
// ======
if (!"#locked_id#id##".startsWith('#')) {
	jeedom.cmd.update['#locked_id#id##'] = function(_options) {
		document.querySelector('.value#locked_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#locked_id#id##', display_value: "#locked_display_value#id##"}])
}

// AVAILABILITY
// ============
if (!"#availability_id#id##".startsWith('#')) {
	jeedom.cmd.update['#availability_id#id##'] = function(_options) {
		document.querySelector('.value#availability_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#availability_id#id##', display_value: "#availability_display_value#id##"}])
}

// ALL DOORS CLOSED
// ================
if (!"#allDoorsClosed_id#id##".startsWith('#')) {
	jeedom.cmd.update['#allDoorsClosed_id#id##'] = function(_options) {
		document.querySelector('.value#allDoorsClosed_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#allDoorsClosed_id#id##', display_value: "#allDoorsClosed_display_value#id##"}])
}

// ALL WINDOWS CLOSED
// ==================
if (!"#allWinsClosed_id#id##".startsWith('#')) {
	jeedom.cmd.update['#allWinsClosed_id#id##'] = function(_options) {
		document.querySelector('.value#allWinsClosed_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#allWinsClosed_id#id##', display_value: "#allWinsClosed_display_value#id##"}])
}

// AL OIL
// ======
if (!"#al_oil_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_oil_id#id##'] = function(_options) {
	let img = ''
	if (_options.value != 0) {
	  img = 'oil_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'oil_grey_dark.svg'
	  } else {
		img = 'oil_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_oil#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_oil_id#id##', value: "#al_oil#id##"}])
}

// AL COOLANT
// ==========
if (!"#al_coolant_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_coolant_id#id##'] = function(_options) {
	let img = ''
	if (_options.value == 1) {
	  img = 'coolant_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'coolant_grey_dark.svg'
	  } else {
		img = 'coolant_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_coolant#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_coolant_id#id##', value: "#al_coolant#id##"}])
}

// AL BRAKE
// ========
if (!"#al_brakeFluid_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_brakeFluid_id#id##'] = function(_options) {
	let img = ""
	if (_options.value == 1) {
	  img = 'brake_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'brake_grey_dark.svg'
	  } else {
		img = 'brake_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_brake#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_brakeFluid_id#id##', value: "#al_brakeFluid#id##"}])
}

// AL WASH
// =======
if (!"#al_washerFluid_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_washerFluid_id#id##'] = function(_options) {
	let img = ""
	if (_options.value == 1) {
	  img = 'wash_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'wash_grey_dark.svg'
	  } else {
		img = 'wash_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_wash#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_washerFluid_id#id##', value: "#al_washerFluid#id##"}])
}

// AL FUEL AUTONOMY
// ================
if (!"#al_fuelautonomy_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_fuelautonomy_id#id##'] = function(_options) {
	let img = ""
	if (_options.value == 1) {
	  img = 'station_gas_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'station_gas_grey_dark.svg'
	  } else {
		img = 'station_gas_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_fuelautonomy#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_fuelautonomy_id#id##', value: "#al_fuelautonomy#id##"}])
}

// AL ELECTRIC AUTONOMY
// ====================
if (!"#al_electricautonomy_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_electricautonomy_id#id##'] = function(_options) {
	let img = ""
	if (_options.value == 1) {
	  img = 'station_recharge_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'station_recharge_grey_dark.svg'
	  } else {
		img = 'station_recharge_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_electricautonomy#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_electricautonomy_id#id##', value: "#al_electricautonomy#id##"}])
}

// AL TYRE
// =======
if (!"#al_tyre_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_tyre_id#id##'] = function(_options) {
	let img = ""
	if (_options.value >= 1) {
	  img = 'tyre_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'tyre_grey_dark.svg'
	  } else {
		img = 'tyre_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_tyre#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_tyre_id#id##', value: "#al_tyre#id##"}])
}

// AL LIGHT
// ========
if (!"#al_light_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_light_id#id##'] = function(_options) {
	let img = ""
	if (_options.value == 1) {
	  img = 'light_red.svg'
	} else {
	  if (document.body.getAttribute('data-theme').endsWith('Dark')) {
		img = 'light_grey_dark.svg'
	  } else {
		img = 'light_grey_light.svg'
	  }
	}
	document.querySelector('#div_al_light#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_light_id#id##', value: "#al_light#id##"}])
}

// PRESENCE SITE 1
// ===============
if (!"#presenceSite1_id#id##".startsWith('#')) {
	jeedom.cmd.update['#presenceSite1_id#id##'] = function(_options) {
		div_el = document.querySelector('.div_presence.Cmd#presenceSite1_id#id##')
		if (_options.value === '1'){
			div_el.removeClass('danger')
			div_el.addClass('success')
		} else if (_options.value === '0') {
			div_el.addClass('danger')
			div_el.removeClass('success')
		} else {
			div_el.removeClass('danger')
			div_el.removeClass('success')
		}
	}
	jeedom.cmd.refreshValue([{cmd_id: '#presenceSite1_id#id##', value: "#presenceSite1#id##"}])
}

// PRESENCE SITE 2
// ===============
if (!"#presenceSite2_id#id##".startsWith('#')) {
	jeedom.cmd.update['#presenceSite2_id#id##'] = function(_options) {
		div_el = document.querySelector('.div_presence.Cmd#presenceSite2_id#id##')
		if (_options.value === '1'){
			div_el.removeClass('danger')
			div_el.addClass('success')
		} else if (_options.value === '0') {
			div_el.addClass('danger')
			div_el.removeClass('success')
		} else {
			div_el.removeClass('danger')
			div_el.removeClass('success')
		}
	}
	jeedom.cmd.refreshValue([{cmd_id: '#presenceSite2_id#id##', value: "#presenceSite2#id##"}])
}

// ODOMETER
// ========
if (!"#odometer_id#id##".startsWith('#')) {
	jeedom.cmd.update['#odometer_id#id##'] = function(_options) {
		document.querySelector('.value#odometer_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#odometer_id#id##', display_value: "#odometer_display_value#id##"}])
}

// FUEL AMOUNT
// ===========
if (!"#fuelAmount_id#id##".startsWith('#')) {
	jeedom.cmd.update['#fuelAmount_id#id##'] = function(_options) {
		document.querySelector('.value#fuelAmount_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#fuelAmount_id#id##', display_value: "#fuelAmount_display_value#id##"}])
}

// FUEL AUTONONY
// =============
if (!"#fuelAutonomy_id#id##".startsWith('#')) {
	jeedom.cmd.update['#fuelAutonomy_id#id##'] = function(_options) {
		document.querySelector('.value#fuelAutonomy_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#fuelAutonomy_id#id##', display_value: "#fuelAutonomy_display_value#id##"}])
}

// BATTERY LEVEL
// =============
if (!"#batteryLevel_id#id##".startsWith('#')) {
	jeedom.cmd.update['#batteryLevel_id#id##'] = function(_options) {
		document.querySelector('.value#batteryLevel_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#batteryLevel_id#id##', display_value: "#batteryLevel_display_value#id##"}])
}

// ELECTRIC AUTONONY
// =================
if (!"#electricAutonomy_id#id##".startsWith('#')) {
	jeedom.cmd.update['#electricAutonomy_id#id##'] = function(_options) {
		document.querySelector('.value#electricAutonomy_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#electricAutonomy_id#id##', display_value: "#electricAutonomy_display_value#id##"}])
}

// CONNECTOR STATUS
// ================
if (!"#connectorStatus_id#id##".startsWith('#')) {
	jeedom.cmd.update['#connectorStatus_id#id##'] = function(_options) {
		document.querySelector('.value#connectorStatus_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#connectorStatus_id#id##', display_value: "#connectorStatus_display_value#id##"}])
}

// CHARGING STATUS
// ===============
if (!"#chargingStatus_id#id##".startsWith('#')) {
	jeedom.cmd.update['#chargingStatus_id#id##'] = function(_options) {
		document.querySelector('.value#chargingStatus_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#chargingStatus_id#id##', display_value: "#chargingStatus_display_value#id##"}])
}

// CHARGING END TIME
// =================
if (!"#chargingEndTime_id#id##".startsWith('#')) {
	jeedom.cmd.update['#chargingEndTime_id#id##'] = function(_options) {
		if (_options.display_value == '') {
			document.querySelector('.value#chargingEndTime_id#id##').closest('div').addClass('hidden')
		} else {
			document.querySelector('.value#chargingEndTime_id#id##').closest('div').removeClass('hidden')
			document.querySelector('.value#chargingEndTime_id#id##').html(_options.display_value)
		}
	}
	jeedom.cmd.refreshValue([{cmd_id: '#chargingEndTime_id#id##', display_value: "#chargingEndTime_display_value#id##", unit: "#chargingEndTime_unit#id##"}])
}

// ACTIONS
// =======
if (!'#timeToRun_id#id##'.startsWith('#')) {
	new ISpin(document.getElementById('input#timeToRun_id#id##'), {
		wrapperClass: 'ispin-wrapper',
		buttonsClass: 'ispin-button',
		step: 1,
		min: parseFloat('#timeToRun_min#id##') || undefined,
		max: parseFloat('#timeToRun_max#id##') || undefined,
		disabled: false,
		repeatInterval: 200,
		wrapOverflow: false,
		parse: Number,
		onChange: function(value) {
			clearTimeout(window['spinTime#timeToRun#id##'])
			window['spinTime#timeToRun#id##'] = setTimeout(function() {
				document.getElementById('input#timeToRun_id#id##').blur()
			},1000)
		}
	})

	document.getElementById('input#timeToRun_id#id##').addEventListener('blur', function(event) {
		clearTimeout(window['spinTime#timeToRun#id##'])
		if (this.getAttribute('value') != this.value) {
			jeedom.cmd.execute({ id: '#timeToRun_id#id##', value: { slider: parseFloat(this.value)}})
		}
	})

	jeedom.cmd.addUpdateFunction('#timeToRun_id#id##', function(_options) {
		let input = document.getElementById('input#timeToRun_id#id##')
		input.value = _options.value
		input.setAttribute('value', _options.value)
		input.setAttribute('aria-valuenow', _options.value)
	})

	jeedom.cmd.refreshValue([{ cmd_id:'#timeToRun_id#id##', value:'#timeToRun#id##'}])
}

</script>
<!--
vim: tabstop=4 autoindent
-->
