<div id="volvocars_widget_ID" class="eqLogic-widget eqLogic noResize volvocars_widget volvocars_widget_#id# volvocars" style="min-width:385px !important; max-width:385px !important; min-height:640px; max-height:640px; text-align:center; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">

	<div class="text-center widget-name">
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden" style="color:var(--eqTitle-color)!important;"><img class="logo_car#id#" id="logo" src=""></img> #name_display# <span class="object_name">#object_name#</span></a>
		<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" onclick="jeedom.cmd.execute({id: #refresh_id#});">
			<i class="fas fa-sync" style="color:var(--eqTitle-color)!important;"></i>
		</span>
	</div>

	<div class="container-fluid">
		<div>
			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Verrouillage}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-unlock-alt"></i></div>
				<div class="col-xs-12 value_tile"><span class="value#locked_id#id##"></span></div>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Accessibilité}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-check-circle"></i></div>
				<div class="col-xs-12 value_tile"><span class="value#availability_id#id##"></span></div>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Toutes les portes}}</div>
				<div class="col-xs-4 icon_tile"><img src="/plugins/volvocars/desktop/img/doors_blue.png"></img></div>
				<div class="col-xs-12 value_tile"><span class="value#allDoorsClosed_id#id##"></span></div>
			</div>
		</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Toutes les fenêtres}}</div>
				<div class="col-xs-4 icon_tile"><img src="/plugins/volvocars/desktop/img/windows_blue.png"></img></div>
				<div class="col-xs-12 value_tile"><span class="value#allWinsClosed_id#id##"></span></div>
			</div>

			<div class="col-xs-12 tile div_alert">
				<span
					id="div_al_oil#id#"
					class="#fuelEngineOnly#id## #al_oil_history##id#"
					data-cmd_id="#al_oil_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_coolant#id#"
					class="#fuelEngineOnly#id## #al_coolant_history#id##"
					data-cmd_id="#al_coolant_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_brake#id#"
					class="#al_brakeFluid_history#id##"
					data-cmd_id="#al_brakeFluid_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_wash#id#"
					class="#al_washerFluid_history#id##"
					data-cmd_id="#al_washerFluid_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_fuelautonomy#id#"
					class="#fuelEngineOnly#id## #al_fuelautonomy_history#id##"
					data-cmd_id="#al_fuelautonomy_id#id##"
					>
					<img src="/plugins/volvocars/desktop/img/station_recharge_grey_dark.svg">
				</span>
				<span
					id="div_al_electricautonomy#id#"
					class="#electricEngineOnly#id## #al_electricautonomy_history#id##"
					data-cmd_id="#al_electricautonomy_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_tyre#id#"
					class="#al_tyre_history#id##"
					data-cmd_id="#al_tyre_id#id##"
					>
					<img/>
				</span>
				<span
					id="div_al_light#id#"
					class="#al_light_history#id##"
					data-cmd_id="#al_light_id#id##"
					>
					<img/>
				</span>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Présence}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-map-signs"></i></div>
				<div class="col-xs-12">
					<div class="div_presence Cmd#presenceSite1_id#id## #presenceSite1_hidden#id##">
						<i class="fas fa-lg fa-house-user"></i><br>#site1_name#id##
					</div>
					<div class="div_presence Cmd#presenceSite2_id#id## #presenceSite2_hidden#id##">
						<i class="fas fa-lg fa-house-user"></i><br>#site2_name#id##
					</div>
				</div>
			</div>

			<div class="col-xs-6 tile">
				<div class="col-xs-8 title_tile">{{Kilométrage}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-map-signs"></i></div>
				<div class="col-xs-12 value_tile">
					<span class="value#odometer_id#id##"></span>
					<span class="unit#odometer_id#id##"></span>
				</div>
			</div>

			<div class="col-xs-4 tile">
				<div class="col-xs-8 title_tile">{{Batterie}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-car-battery"></i></div>
				<div class="col-xs-12 value_tile">
					<span class="value#batteryLevel_id#id## tile-value"></span>
					<span class="unit#batteryLevel_id#id## tile-unit"></span>
				</div>
			</div>

			<div class="col-xs-4 tile">
				<div class="col-xs-8 title_tile">{{Prise}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-plug"></i></div>
				<div class="col-xs-12 value_tile">
					<span class="value#connectorStatus_id#id## tile-value"></span>
				</div>
			</div>

			<div class="col-xs-4 tile">
				<div class="col-xs-8 title_tile">{{Recharge}}</div>
				<div class="col-xs-4 icon_tile"><i class="fas fa-lg fa-charging-station"></i></div>
				<div class="col-xs-12 value_tile">
					<div class="value_tile_1">
						<span class="value#chargingStatus_id#id## tile-value"></span>
					</div>
					<div class="value_tile_2">
						lulu
					</div>
				</div>
			</div>

			<div class="col-xs-4 tile">
				toto4
			</div>
		</div>
	</div>
</div>

<script>

if (typeof volvocarsDashboard === "undefined") {
	var volvocarsDashboard = {
		loadCss: function () {
			let link = document.createElement('link')
			link.type = 'text/css'
			link.rel = 'stylesheet'
			link.href = '/plugins/volvocars/core/template/dashboard/volvocars_dashboard.css'
			document.head.appendChild(link)
		}
	}
	volvocarsDashboard.loadCss()
}

if (!"#locked_id#id##".startsWith('#')) {
	jeedom.cmd.update['#locked_id#id##'] = function(_options) {
		document.querySelector('.value#locked_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#locked_id#id##', display_value: "#locked_display_value#id##"}])
}

if (!"#availability_id#id##".startsWith('#')) {
	jeedom.cmd.update['#availability_id#id##'] = function(_options) {
		document.querySelector('.value#availability_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#availability_id#id##', display_value: "#availability_display_value#id##"}])
}

if (!"#allDoorsClosed_id#id##".startsWith('#')) {
	jeedom.cmd.update['#allDoorsClosed_id#id##'] = function(_options) {
		document.querySelector('.value#allDoorsClosed_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#allDoorsClosed_id#id##', display_value: "#allDoorsClosed_display_value#id##"}])
}

  if (!"#al_oil_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_oil_id#id##'] = function(_options) {
      let img = ''
      if (_options.value != 0) {
        img = 'oil_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'oil_grey_dark.svg'
        } else {
          img = 'oil_grey_light.svg'
        }
      }
      document.querySelector('#div_al_oil#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_oil_id#id##', value: "#al_oil#id##"}])
  }

  // COOLANT
  if (!"#al_coolant_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_coolant_id#id##'] = function(_options) {
      let img = ''
      if (_options.value == 1) {
        img = 'coolant_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'coolant_grey_dark.svg'
        } else {
          img = 'coolant_grey_light.svg'
        }
      }
      document.querySelector('#div_al_coolant#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_coolant_id#id##', value: "#al_coolant#id##"}])
  }

  // BRAKE
  if (!"#al_brakeFluid_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_brakeFluid_id#id##'] = function(_options) {
      let img = ""
      if (_options.value == 1) {
        img = 'brake_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'brake_grey_dark.svg'
        } else {
          img = 'brake_grey_light.svg'
        }
      }
      document.querySelector('#div_al_brake#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_brakeFluid_id#id##', value: "#al_brakeFluid#id##"}])
  }
 // WASH
  if (!"#al_washerFluid_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_washerFluid_id#id##'] = function(_options) {
      let img = ""
      if (_options.value == 1) {
        img = 'wash_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'wash_grey_dark.svg'
        } else {
          img = 'wash_grey_light.svg'
        }
      }
      document.querySelector('#div_al_wash#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_washerFluid_id#id##', value: "#al_washerFluid#id##"}])
  }

  // AL FUEL AUTONOMY
  if (!"#al_fuelautonomy_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_fuelautonomy_id#id##'] = function(_options) {
      let img = ""
      if (_options.value == 1) {
        img = 'station_gas_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'station_gas_grey_dark.svg'
        } else {
          img = 'station_gas_grey_light.svg'
        }
      }
      document.querySelector('#div_al_fuelautonomy#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_fuelautonomy_id#id##', value: "#al_fuelautonomy#id##"}])
  }

  // AL ELECTRIC AUTONOMY
  if (!"#al_electricautonomy_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_electricautonomy_id#id##'] = function(_options) {
      let img = ""
      if (_options.value == 1) {
        img = 'station_recharge_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'station_recharge_grey_dark.svg'
        } else {
          img = 'station_recharge_grey_light.svg'
        }
      }
      document.querySelector('#div_al_electricautonomy#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_electricautonomy_id#id##', value: "#al_electricautonomy#id##"}])
  }  // AL TYRE
  if (!"#al_tyre_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_tyre_id#id##'] = function(_options) {
      let img = ""
      if (_options.value >= 1) {
        img = 'tyre_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'tyre_grey_dark.svg'
        } else {
          img = 'tyre_grey_light.svg'
        }
      }
      document.querySelector('#div_al_tyre#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_tyre_id#id##', value: "#al_tyre#id##"}])
  }

  // AL LIGHT
  if (!"#al_light_id#id##".startsWith('#')) {
    jeedom.cmd.update['#al_light_id#id##'] = function(_options) {
      let img = ""
      if (_options.value == 1) {
        img = 'light_red.svg'
      } else {
        if (document.body.getAttribute('data-theme').endsWith('Dark')) {
          img = 'light_grey_dark.svg'
        } else {
          img = 'light_grey_light.svg'
        }
      }
      document.querySelector('#div_al_light#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
    }
    jeedom.cmd.refreshValue([{cmd_id: '#al_light_id#id##', value: "#al_light#id##"}])
  }

if (!"#allWinsClosed_id#id##".startsWith('#')) {
	jeedom.cmd.update['#allWinsClosed_id#id##'] = function(_options) {
		document.querySelector('.value#allWinsClosed_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#allWinsClosed_id#id##', display_value: "#allWinsClosed_display_value#id##"}])
}

if (!"#presenceSite1_id#id##".startsWith('#')) {
	jeedom.cmd.update['#presenceSite1_id#id##'] = function(_options) {
		div_el = document.querySelector('.div_presence.Cmd#presenceSite1_id#id##')
		if (_options.value === '1'){
			div_el.removeClass('danger')
			div_el.addClass('success')
		} else if (_options.value === '0') {
			div_el.addClass('danger')
			div_el.removeClass('success')
		} else {
			div_el.removeClass('danger')
			div_el.removeClass('success')
		}
	}
	jeedom.cmd.refreshValue([{cmd_id: '#presenceSite1_id#id##', value: "#presenceSite1#id##"}])
}

if (!"#presenceSite2_id#id##".startsWith('#')) {
	jeedom.cmd.update['#presenceSite2_id#id##'] = function(_options) {
		div_el = document.querySelector('.div_presence.Cmd#presenceSite2_id#id##')
		if (_options.value === '1'){
			div_el.removeClass('danger')
			div_el.addClass('success')
		} else if (_options.value === '0') {
			div_el.addClass('danger')
			div_el.removeClass('success')
		} else {
			div_el.removeClass('danger')
			div_el.removeClass('success')
		}
	}
	jeedom.cmd.refreshValue([{cmd_id: '#presenceSite2_id#id##', value: "#presenceSite2#id##"}])
}

if (!"#odometer_id#id##".startsWith('#')) {
	jeedom.cmd.update['#odometer_id#id##'] = function(_options) {
		document.querySelector('.value#odometer_id#id##').html(_options.display_value)
		document.querySelector('.unit#odometer_id#id##').html(_options.unit)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#odometer_id#id##', display_value: "#odometer_display_value#id##", unit: "#odometer_unit#id##"}])
}

if (!"#batteryLevel_id#id##".startsWith('#')) {
	jeedom.cmd.update['#batteryLevel_id#id##'] = function(_options) {
		document.querySelector('.value#batteryLevel_id#id##').html(_options.display_value)
		document.querySelector('.unit#batteryLevel_id#id##').html(_options.unit)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#batteryLevel_id#id##', display_value: "#batteryLevel_display_value#id##", unit: "#batteryLevel_unit#id##"}])
}

if (!"#connectorStatus_id#id##".startsWith('#')) {
	jeedom.cmd.update['#connectorStatus_id#id##'] = function(_options) {
		document.querySelector('.value#connectorStatus_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#connectorStatus_id#id##', display_value: "#connectorStatus_display_value#id##"}])
}

if (!"#chargingStatus_id#id##".startsWith('#')) {
	jeedom.cmd.update['#chargingStatus_id#id##'] = function(_options) {
		document.querySelector('.value#chargingStatus_id#id##').html(_options.display_value)
	}
	jeedom.cmd.refreshValue([{cmd_id: '#chargingStatus_id#id##', display_value: "#chargingStatus_display_value#id##"}])
}

</script>
<!--
vim: tabstop=4 autoindent
-->
