<!--
 vim: tabstop=4 autoindent
-->
<div id="volvocars_panel_ID" class="eqLogic-widget eqLogic noResize volvo_panel" style="border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="panel">

	<a href="#eqLink#" id="titre">
		<img class="volvo_logo_black " src="/plugins/volvocars/desktop/img/Volvo_logo_black.svg">
		<img class="volvo_logo_white" src="/plugins/volvocars/desktop/img/Volvo_logo_white.svg">
		<span> #name_display#</span>
	</a>

	<div class="container-fluid">
		<div>
			<!-- Column N°1 -->
			<div class="col-xs-4 column">

				<!-- IMAGE -->
				<div class="col-xs-12 tile"> 
					<div id="picture">
						<img id="img_car_#id#" src="#vehicle_img#id##" style='width:100%' />
					</div>
				</div>

				<!-- ALERTES -->
				<div id='div_alertes' class="col-xs-12 tile ">
					<span id='div_al_oil#id#' class="#heatEngineOnly#id##"><img></img></span>
					<span id='div_al_coolant#id#' class="#heatEngineOnly#id##"><img></img></span>
					<span id='div_al_brake#id#'><img></img></span>
					<span id='div_al_wash#id#'><img></img></span>
					<span id='div_al_heatautonomy#id#' class='#heatEngineOnly#id##'><img></img></span>
					<span id='div_al_electricautonomy#id#' class='#electricEngineOnly#id##'><img></img></span>
					<span id='div_al_tyre#id#'><img></img></span>
					<span id='div_al_light#id#'><img></img></span>
				</div>

				<!-- PRESENCES -->
				<div class="col-xs-12 tile">
					<div id="div_site1#id#" class="col-xs-6" style='padding:0px !important'>
						<div id='name_site1_#id#' class="tile_titel"><span>#site1_name#id##</span></div>
						<div id='presence_site1_#id#'><i class='Cmd#presence_site1_id#id##'></i></div>
						<div id='distance_site1_#id#'><span class='Cmd#distance_site1_id#id##'>span1</span></div>
					</div>
					<div id="div_site2#id#" class="col-xs-6" style='padding:0px !important'>
						<div id='name_site2_#id#' class="tile_titel"><span>#site2_name#id##</span></div>
						<div id='presence_site2_#id#'><i class='Cmd#presence_site2_id#id##'></i></div>
						<div id='distance_site2_#id#'><span class='Cmd#distance_site2_id#id##'>span2</span></div>
					</div>
				</div>

				<div class="col-xs-4 tile">
					text<br>
					text<br>
					text
				</div>

				<div class="col-xs-4 tile">
					text<br>
					text<br>
					text
				</div>

				<div class="col-xs-4 tile">
					text<br>
					text<br>
					text
				</div>

				<div class="col-xs-4 tile">
					text<br>
					text<br>
					text
				</div>
			</div>

			<!-- Column N°2 -->
			<div class="col-xs-4 column">

				<div class="col-xs-6 tile">
					text
				</div>

				<div class="col-xs-6 tile">
					text
				</div>

				<div class="col-xs-6 tile">
					text
				</div>

				<div class="col-xs-6 tile">
					text
				</div>

				<div class="col-xs-12 tile">
					text
				</div>

				<div class="col-xs-12 tile">
					text
				</div>
			</div>

			<!-- Column N°3 -->
			<div class="col-xs-4 column">

				<div class="col-xs-12 tile">
					text
				</div>

				<div class="col-xs-12 tile">
					text
				</div>
			</div>

		</div>
	</div>
</div>

<script>

// SITES
// =====

//-- actif
if (#site1_active#id## == 1) {
	$('#div_site1').removeClass('hidden')
} else {
	$('#div_site1').addClass('hidden')
	$('#div_site2').addClass('col-xs-offset-3')
}

if (#site2_active#id## == 1) {
	$('#div_site2').removeClass('hidden')
} else {
	$('#div_site2').addClass('hidden')
	$('#div_site1').addClass('col-xs-offset-3')
}

// PRESENCES
// =========
function updatePresence(presence_id, site_name, _options) {
	if (_options.value == 1) {
		$('.Cmd' + presence_id).empty().append('<i class="fas fa-house-user color_on" style="font-size:1.75em;" title="{{Présence}} '+site_name+':<br/>{{Oui}}"></i>');
	} else if (_options.value == 0) {
		$('.Cmd' + presence_id).empty().append('<i class="fas fa-home color_off" style="font-size:1.75em;" title="{{Présence}} '+site_name+':<br/>{{Non}}"></i>');
	} else {
		$('.Cmd' + presence_id).empty().append('<i class="fas fa-house-damage" style="font-size:1.75em;" title="{{Présence}} '+site_name+':<br/>{{Inconnue}}"></i>');
	}
}
jeedom.cmd.update['#presence_site1_id#id##'] = function(_options) {
	updatePresence('#presence_site1_id#id##', '#site1_name#id##', _options)
}
jeedom.cmd.update['#presence_site2_id#id##'] = function(_options) {
	updatePresence('#presence_site2_id#id##', '#site2_name#id##', _options)
}
jeedom.cmd.update['#presence_site1_id#id##'] ({value: '#presence_site1#id##'});
jeedom.cmd.update['#presence_site2_id#id##'] ({value: '#presence_site2#id##'});

// DISTANCES
// =========
function updateDistance(distance_id, color_class, _options) {
	value = parseFloat(_options.value)
	if (value >= 100000) {
		txt = (value/1000).toFixed(0) + ' Km'
	} else if (value >= 10000) {
		txt = (value/1000).toFixed(1) + ' Km'
	} else if (value >= 1000) {
		txt = (value/1000).toFixed(2) + ' Km'
	} else {
		txt = value.toFixed(0) + ' m'
	}
	$('.Cmd' + distance_id).empty().append('<span class="' + color_class + '">' + txt + '</span>')
}
jeedom.cmd.update['#distance_site1_id#id##'] = function(_options) {
	if (_options.value <= #site1_limit#id##) {
		color_class = 'color_on'
	} else {
		color_class = 'color_off'
	}
	updateDistance('#distance_site1_id#id##', color_class, _options)
}
jeedom.cmd.update['#distance_site2_id#id##'] = function(_options) {
	if (_options.value <= #site2_limit#id##) {
		color_class = 'color_on'
	} else {
		color_class = 'color_off'
	}
	updateDistance('#distance_site2_id#id##', color_class, _options)
}
jeedom.cmd.update['#distance_site1_id#id##'] ({value: '#distance_site1#id##'});
jeedom.cmd.update['#distance_site2_id#id##'] ({value: '#distance_site2#id##'});

// TEMOINS ALERTES
// ===============

// OIL
jeedom.cmd.update['#oil_id#id##'] = function(_options) {
	console.log(_options)
	if (_options.value != 0) {
		img = 'oil_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'oil_grey_dark.svg'
		} else {
			img = 'oil_grey_light.svg'
		}
	}
	$('#div_al_oil#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#oil_id#id##'] ({value: "#oil#id##"})

// COOLANT
jeedom.cmd.update['#coolant_id#id##'] = function(_options) {
	if (_options.value == 1) {
		img = 'coolant_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'coolant_grey_dark.svg'
		} else {
			img = 'coolant_grey_light.svg'
		}
	}
	$('#div_al_coolant#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#coolant_id#id##'] ({value: "#coolant#id##"})

// BRAKE
jeedom.cmd.update['#brake_id#id##'] = function(_options) {
	if (_options.value == 1) {
		img = 'brake_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'brake_grey_dark.svg'
		} else {
			img = 'brake_grey_light.svg'
		}
	}
	$('#div_al_brake#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#brake_id#id##'] ({value: "#brake#id##"})

// WASH
jeedom.cmd.update['#wash_id#id##'] = function(_options) {
	if (_options.value == 1) {
		img = 'wash_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'wash_grey_dark.svg'
		} else {
			img = 'wash_grey_light.svg'
		}
	}
	$('#div_al_wash#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#wash_id#id##'] ({value: "#wash#id##"})

// HEAT AUTONOMY
jeedom.cmd.update['#heatautonomy_id#id##'] = function(_options) {
	if (_options.value == 1) {
		img = 'station_gas_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'station_gas_grey_dark.svg'
		} else {
			img = 'station_gas_grey_light.svg'
		}
	}
	$('#div_al_heatautonomy#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#heatautonomy_id#id##'] ({value: "#heatautonomy#id##"})

// ELECTRIC AUTONOMY
jeedom.cmd.update['#electricautonomy_id#id##'] = function(_options) {
	if (_options.value == 1) {
		img = 'station_recharge_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'station_recharge_grey_dark.svg'
		} else {
			img = 'station_recharge_grey_light.svg'
		}
	}
	$('#div_al_electricautonomy#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#electricautonomy_id#id##'] ({value: "#electricautonomy#id##"})

// TYRE
jeedom.cmd.update['#tyre_id#id##'] = function(_options) {
	if (_options.value >= 1) {
		img = 'tyre_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'tyre_grey_dark.svg'
		} else {
			img = 'tyre_grey_light.svg'
		}
	}
	$('#div_al_tyre#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#tyre_id#id##'] ({value: "#tyre#id##"})

// LIGHT
jeedom.cmd.update['#light_id#id##'] = function(_options) {
	if (_options.value == 1) {
		img = 'light_red.svg'
	} else {
		if ($('body').data('theme').endsWith('Dark')) {
			img = 'light_grey_dark.svg'
		} else {
			img = 'light_grey_light.svg'
		}
	}
	$('#div_al_light#id# img').attr('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
}
jeedom.cmd.update['#light_id#id##'] ({value: "#light#id##"})


// MISE A JOUR DES TEXTES INFO
jeedom.cmd.update['#msg2widget_id#id##'] = function(_options) {
	msg_default = {}
	console.log(_options.value)
	messages = json_decode(_options.value)
	for (cible in messages) {
		msg = ''
		sep = ''
		for (id in messages[cible]) {
			msg += sep + messages[cible][id]
			sep = '<br>'
		}
		$('#'+cible + '#id#').attr('title',msg)
	}
}
jeedom.cmd.update['#msg2widget_id#id##'] ({value: "#msg2widget#id##"})
</script>
