<!--
 vim: tabstop=2 autoindent expandtab
-->
<div class='eqLogic-widget eqLogic noResize volvo_panel' data-eqType='#eqType#' data-translate-category='#translate_category#' data-category='#category#' data-tags='#tags#' data-eqLogic_id='#id#' data-eqLogic_uid='#uid#' data-version='panel'>

  <div class='div_title'>
    <a href='#eqLink#' class='title'>#name_display#</a>
  </div>

  <div>
    <!-- Column N°1 -->
    <div class='col-xs-4 column'>

      <!-- IMAGE -->
      <div class='col-xs-12 tile'>
        <div id='picture'>
          <img id='img_car_#id#' src='#vehicle_img#id##' style='max-width:100%; max-height:270px' />
        </div>
      </div>

      <!-- ALERTES -->
      <div class='div_alertes col-xs-12 tile tile-alert'>
        <span id='div_al_oil#id#' class='#fuelEngineOnly#id## #al_oil_history##id#' data-cmd_id='#al_oil_id#id##'><img></img></span>
        <span id='div_al_coolant#id#' class='#fuelEngineOnly#id## #al_coolant_history#id##' data-cmd_id='#al_coolant_id#id##'><img></img></span>
        <span id='div_al_brake#id#' class='#al_brakeFluid_history#id##' data-cmd_id='#al_brakeFluid_id#id##'><img></img></span>
        <span id='div_al_wash#id#' class='#al_washerFluid_history#id##' data-cmd_id='#al_washerFluid_id#id##'><img></img></span>
        <span id='div_al_fuelautonomy#id#' class='#fuelEngineOnly#id## #al_fuelautonomy_history#id##' data-cmd_id='#al_fuelautonomy_id#id##'><img></img></span>
        <span id='div_al_electricautonomy#id#' class='#electricEngineOnly#id## #al_electricautonomy_history#id##' data-cmd_id='#al_electricautonomy_id#id##'><img></img></span>
        <span id='div_al_tyre#id#' class='#al_tyre_history#id##' data-cmd_id='#al_tyre_id#id##'><img></img></span>
        <span id='div_al_light#id#' class='#al_light_history#id##' data-cmd_id='#al_light_id#id##'><img></img></span>
      </div>

      <!-- PRESENCES -->
      <div id='div_site1#id#' class='col-xs-4 tile tile1'>
        <div class='col-xs-8 tile-title'>{{Présences}} #site1_name#id##</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-marker-alt'></i></div>
        <div class='col-xs-12 tile-value-container'>
          <div id='presenceSite1_#id#' class=' #presenceSite1_history#id##' data-cmd_id='#presenceSite1_id#id##'>
            <i class='Cmd#presenceSite1_id#id##'></i>
          </div>
          <div class='col-xs-12'>
            <div class='widget-title' >{{Distance}}:</div>
            <div id='distanceSite1_#id#' class='#distanceSite1_history#id##' data-cmd-id='#distanceSite1_id#id##'>
              <span class='Cmd#distanceSite1_id#id##'></span>
            </div>
          </div>
        </div>
      </div>
      <div id='div_site2#id#' class='col-xs-4 tile tile1'>
        <div class='col-xs-8 tile-title'>{{Présences}} #site2_name#id##</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-marker-alt'></i></div>
        <div class='col-xs-12 tile-value-container'>
          <div id='presenceSite2_#id#' class=' #presenceSite2_history#id##' data-cmd_id='#presenceSite2_id#id##'>
            <i class='Cmd#presenceSite2_id#id##'></i>
          </div>
          <div class='col-xs-12'>
            <div class='widget-title' >{{Distance}}:</div>
            <div id='distanceSite2_#id#' class='#distanceSite2_history#id##' data-cmd-id='#distanceSite2_id#id##'>
              <span class='Cmd#distanceSite2_id#id##'></span>
            </div>
          </div>
        </div>
      </div>

      <!-- ODOMETRE -->
      <div class='col-xs-4 tile tile1'>
        <div class='col-xs-8 tile-title'>{{Kilométrage}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-signs'></i></div>
        <div class='col-xs-12 tile-value-container #odometer_history#id##' data-cmd_id='#odometer_id#id##'>
          <span class='value#odometer_id#id## tile-value'></span>
          <span class='unit#odometer_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- CARBURANT -->
      <div class='col-xs-4 tile tile1 #fuelEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Niveau carburant}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-gas-pump'></i></div>
        <div class='col-xs-12 tile-value-container #fuelAmount_history#id##' data-cmd_id='#fuelAmount_id#id##'>
          <span class='value#fuelAmount_id#id## tile-value'></span>
          <span class='unit#fuelAmount_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- AUTONOMIE CARBURANT -->
      <div class='col-xs-4 tile tile1 #fuelEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Km restants (thermique)}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-pin'></i></div>
        <div class='col-xs-12 tile-value-container #fuelAutonomy_history#id##' data-cmd_id='#fuelAutonomy_id#id##'>
          <span class='value#fuelAutonomy_id#id## tile-value'></span>
          <span class='unit#fuelAutonomy_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- CONSOMMATION CARBURANT -->
      <div class='col-xs-4 tile tile1 #fuelEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Consommation (carburant)}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-pin'></i></div>
        <div class='col-xs-12 tile-value-container #consoFuel_history#id##' data-cmd_id='#consoFuel_id#id##'>
          <span class='value#consoFuel_id#id## tile-value'></span>
          <span class='unit#consoFuel_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- CONSOMMATION CARBURANT PARCOURS-->
      <div class='col-xs-4 tile tile1 #fuelEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Consommation parcours (carburant)}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-pin'></i></div>
        <div class='col-xs-12 tile-value-container #consoFuelTrip_history#id##' data-cmd_id='#consoFuelTrip_id#id##'>
          <span class='value#consoFuelTrip_id#id## tile-value'></span>
          <span class='unit#consoFuelTrip_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- BATTERY LEVEL -->
      <div class='col-xs-4 tile tile1 #electricEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Batterie}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-car-battery'></i></div>
        <div class='col-xs-12 tile-value-container #batteryLevel_history#id##' data-cmd_id='#batteryLevel_id#id##'>
          <span class='value#batteryLevel_id#id## tile-value'></span>
          <span class='unit#batteryLevel_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- AUTONOMIE ELECTRIQUE -->
      <div class='col-xs-4 tile tile1 #electricEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Km restants (électrique)}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-pin'></i></div>
        <div class='col-xs-12 tile-value-container #electricAutonomy_history#id##' data-cmd_id='#electricAutonomy_id#id##'>
          <span class='value#electricAutonomy_id#id## tile-value'></span>
          <span class='unit#electricAutonomy_id#id## tile-unit'></span>
        </div>
      </div>

      <!-- CONSOMMATION ELECTRIQUE -->
      <div class='col-xs-4 tile tile1 #electricEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Consommation électrique}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-map-pin'></i></div>
        <div class='col-xs-12 tile-value-container #consoElectric_history#id##' data-cmd_id='#consoElectric_id#id##'>
          <span class='value#consoElectric_id#id## tile-value'></span>
          <span class='unit#consoElectric_id#id## tile-unit'></span>
        </div>
      </div>

      <div class='col-xs-12 tile-group'>
      <!-- PRISE -->
      <div class='col-xs-6 tile tile2 #electricEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Prise}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-plug'></i></div>
        <div class='col-xs-12 tile-value-container #connectorStatus_history#id##' data-cmd_id='#connectorStatus_id#id##'>
          <span class='value#connectorStatus_id#id## tile-value'></span>
        </div>
      </div>

      <!-- RECHARGE -->
      <div class='col-xs-6 tile tile2 #electricEngineOnly#id##'>
        <div class='col-xs-8 tile-title'>{{Recharge}}</div>
        <div class='col-xs-4 tile-icon'><i class='fas fa-lg fa-charging-station'></i></div>
        <div class='col-xs-12 tile-value-container #chargingStatus_history#id##' data-cmd_id='#chargingStatus_id#id##'>
          <span class='value#chargingStatus_id#id## tile-value'></span>
          <div class='col-xs-12 tile-subvalue-container'>
            {{Fin de charge prévue }} <strong class='value#chargingEndTime_id#id##'></strong>
          </div>
        </div>
      </div>
      </div>

    </div>

    <!-- Column N°2 -->
    <div class="col-xs-4 column">

      <!-- Verrouillage -->
      <div class="col-xs-6 tile tile2">
        <div class="col-xs-8 tile-title">{{Verrouillage}}</div>
        <div class="col-xs-4 tile-icon"><i class="fas fa-lg fa-unlock-alt"></i></div>
        <div class="col-xs-12 tile-value-container">
          <span class="value#locked_id#id## tile-value"></span>
        </div>
      </div>

      <!-- Accessibilité -->
      <div class="col-xs-6 tile tile2">
        <div class="col-xs-8 tile-title">{{Accessibilité}}</div>
        <div class="col-xs-4 tile-icon"><i class="fas fa-lg fa-check-circle"></i></div>
        <div class="col-xs-12 tile-value-container">
          <span class="value#availability_id#id## tile-value"></span>
        </div>
        <div class="col-xs-12 tile-complement">
          <span class="value#unavailableReason_id#id## ">XXX</span>
        </div>
      </div>

      <!-- TOP VIEW -->
      <div class="col-xs-12 tile tile3 tile-topview">
        <div class="col-xs-1 tile-icon"><i class="fas fa-lg fa-info"></i></div>
        <div class="col-xs-11 tile-title">{{Informations}}</div>
        <div class="col-xs-12 info_front">
          <div class="col-xs-6 info_name">{{Capot}}</div>
          <div class="col-xs-6 Cmd#hoodState_id#id##">
            <div class="info_text"></div>
          </div>
        </div>
        <div class="col-xs-4 info_left">
          <div class="col-xs-6 info_name tyreF">{{Pression}}</div>
          <div class="col-xs-6 Cmd#tyreFl_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name doorF">{{Porte}}</div>
          <div class="col-xs-6 Cmd#doorFlState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name winF">{{Vitre}}</div>
          <div class="col-xs-6 Cmd#winFlState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name doorR">{{Porte}}</div>
          <div class="col-xs-6 Cmd#doorRlState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name winF">{{Vitre}}</div>
          <div class="col-xs-6 Cmd#winRlState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name tyreR">{{Pression}}</div>
          <div class="col-xs-6 Cmd#tyreRl_id#id##">
            <div class="info_text"></div>
          </div>
        </div>
        <div id="topView#id#" class="topView col-xs-4">
          <img src="/plugins/volvocars/desktop/img/car-top/car-top.png"/>
          <img class="hidden" src="/plugins/volvocars/desktop/img/car-top/door_fl_o.png"/>
          <img class="hidden doorFlClosed" src="/plugins/volvocars/desktop/img/car-top/door_fl_c.png"/>
          <img class="hidden doorFlOpen" src="/plugins/volvocars/desktop/img/car-top/door_fl_o.png"/>
          <img class="hidden doorFrClosed" src="/plugins/volvocars/desktop/img/car-top/door_fr_c.png"/>
          <img class="hidden doorFrOpen" src="/plugins/volvocars/desktop/img/car-top/door_fr_o.png"/>
          <img class="hidden doorRlClosed" src="/plugins/volvocars/desktop/img/car-top/door_rl_c.png"/>
          <img class="hidden doorRlOpen" src="/plugins/volvocars/desktop/img/car-top/door_rl_o.png"/>
          <img class="hidden doorRrClosed" src="/plugins/volvocars/desktop/img/car-top/door_rr_c.png"/>
          <img class="hidden doorRrOpen" src="/plugins/volvocars/desktop/img/car-top/door_rr_o.png"/>
          <img class="hidden hoodClosed" src="/plugins/volvocars/desktop/img/car-top/hood_c.png"/>
          <img class="hidden hoodOpen" src="/plugins/volvocars/desktop/img/car-top/hood_o.png"/>
          <img class="hidden roofClosed" src="/plugins/volvocars/desktop/img/car-top/roof_c.png"/>
          <img class="hidden roofOpen" src="/plugins/volvocars/desktop/img/car-top/roof_o.png"/>
          <img class="hidden tailClosed" src="/plugins/volvocars/desktop/img/car-top/tail_c.png"/>
          <img class="hidden tailOpen" src="/plugins/volvocars/desktop/img/car-top/tail_o.png"/>
        </div>
        <div class="col-xs-4 info_right">
          <div class="col-xs-6 info_name tyreF">{{Pression}}</div>
          <div class="col-xs-6 Cmd#tyreFr_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name doorF">{{Porte}}</div>
          <div class="col-xs-6 Cmd#doorFrState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name winF">{{Vitre}}</div>
          <div class="col-xs-6 Cmd#winFrState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name doorR">{{Porte}}</div>
          <div class="col-xs-6 Cmd#doorRrState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name winR">{{Vitre}}</div>
          <div class="col-xs-6 Cmd#winRsState_id#id##">
            <div class="info_text"></div>
          </div>
          <div class="col-xs-6 info_name tyreR">{{Pression}}</div>
          <div class="col-xs-6 Cmd#tyreRr_id#id##">
            <div class="info_text"></div>
          </div>
        </div>
        <div class="col-xs-12 info_rear">
          <div class="col-xs-6 info_name roof">{{Toit ouvrant}}</div>
          <div class="col-xs-6 Cmd#roofState_id#id##">
            <div class="info_text">X</div>
          </div>
          <div class="col-xs-6 info_name tail">{{Coffre}}</div>
          <div class="col-xs-6 Cmd#tailState_id#id##">
            <div class="info_text">X</div>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="col-xs-12 tile tile3">
        <div class="col-xs-1 tile-icon"><i class="fas fa-lg fa-cogs"></i></div>
        <div class="col-xs-11 tile-title">{{Actions}}</div>
        <button class="btn cmd Cmd#refresh_id#id##" title="{{Rafraîchir}}" onclick="jeedom.cmd.execute({id: #refresh_id#id##})"><i class="fa-lg icon fas fa-sync-alt"></i></button>
        <button class="btn cmd Cmd#lock_id#id##" title="{{Verrouiller}}" onclick="jeedom.cmd.execute({id: #lock_id#id##})"><i class="fa-lg icon fas fa-lock"></i></button>
        <button class="btn cmd Cmd#unlock_id#id##" title="{{Déverrouiller}}" onclick="jeedom.cmd.execute({id: #unlock_id#id##})"><i class="fa-lg icon fas fa-unlock"></i></button>
        <button class="btn cmd Cmd#climStart_id#id##" title="{{Ventiller}}" onclick="jeedom.cmd.execute({id: #climStart_id#id##})"><i class="fa-lg icon fas fa-fan"></i></button>
        <button class="btn cmd Cmd#climStop_id#id##" title="{{Stop ventiller}}" onclick="jeedom.cmd.execute({id: #climStop_id#id##})"><i class="fa-lg icon fas fa-ban"></i></button>
      </div>

      <!-- Status -->
      <div class="div_status col-xs-12 tile tile3">
        <div class="col-xs-1 tile-icon"><i class="fas fa-lg fa-car"></i></div>
        <div class="col-xs-11 tile-title">{{Status}}</div>
        <span class="Cmd#engineON_id#id##"><img></img></span>
      </div>
    </div>

    <!-- Column N°3 -->
    <div class="col-xs-4 column">

      <div class="col-xs-12 tile tile3">
        <div class="col-xs-1 tile-icon"><i class="fas fa-lg fa-wrench"></i></div>
        <div class="col-xs-11 tile-title">{{Services}}</div>
        <div class="col-xs-4 info_name">{{Message}}</div>
        <div class="col-xs-8 info_text Cmd#service_id#id##"></div>
        <div class="col-xs-4 info_name">{{Raison du service}}</div>
        <div class="col-xs-8 info_text Cmd#serviceTrigger_id#id##"></div>
        <div class="col-xs-1 tile-icon"><i class="fas fa-lg fa-clock"></i></div>
        <div class="col-xs-11 tile-title">{{Délai avant service}}</div>
        <div class="col-xs-9 info_name">{{Temps moteur}}</div>
        <div class="col-xs-3 info_text Cmd#engineHoursToService_id#id##"></div>
        <div class="col-xs-9 info_name">{{Distance}}</div>
        <div class="col-xs-3 info_text Cmd#distanceToService_id#id##"></div>
        <div class="col-xs-9 info_name">{{Temps}}</div>
        <div class="col-xs-3 info_text Cmd#timeToService_id#id##"></div>
      </div>

      <div class="col-xs-12 tile tile3">
        <div class="col-xs-1 tile-icon"><i class="fas fa-lg fa-location-arrow"></i></div>
        <div class="col-xs-11 tile-title">{{Localisation}}</div>
        <iframe class="Cmd#position_id#id## map" src=""></iframe>
      </div>
    </div>

  </div>
</div>

<script>
"use strict"
// SITES
// =====

//-- actif
if (#site1_active#id## == 1) {
  document.getElementById("div_site1#id#").seen()
} else {
  document.getElementById("div_site1#id#").unseen()
}

if (#site2_active#id## == 1) {
  document.getElementById("div_site2#id#").seen()
} else {
  document.getElementById("div_site2#id#").unseen()
}

// TEMOINS ALERTES
// ===============

// OIL
if (!"#al_oil_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_oil_id#id##'] = function(_options) {
    let img = ''
    if (_options.value != 0) {
      img = 'oil_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'oil_grey_dark.svg'
      } else {
        img = 'oil_grey_light.svg'
      }
    }
    document.querySelector('#div_al_oil#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_oil_id#id##', value: "#al_oil#id##"}])
}

// COOLANT
if (!"#al_coolant_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_coolant_id#id##'] = function(_options) {
    let img = ''
    if (_options.value == 1) {
      img = 'coolant_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'coolant_grey_dark.svg'
      } else {
        img = 'coolant_grey_light.svg'
      }
    }
    document.querySelector('#div_al_coolant#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_coolant_id#id##', value: "#al_coolant#id##"}])
}

// BRAKE
if (!"#al_brakeFluid_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_brakeFluid_id#id##'] = function(_options) {
    let img = ""
    if (_options.value == 1) {
      img = 'brake_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'brake_grey_dark.svg'
      } else {
        img = 'brake_grey_light.svg'
      }
    }
    document.querySelector('#div_al_brake#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_brakeFluid_id#id##', value: "#al_brakeFluid#id##"}])
}

// WASH
if (!"#al_washerFluid_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_washerFluid_id#id##'] = function(_options) {
    let img = ""
    if (_options.value == 1) {
      img = 'wash_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'wash_grey_dark.svg'
      } else {
        img = 'wash_grey_light.svg'
      }
    }
    document.querySelector('#div_al_wash#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_washerFluid_id#id##', value: "#al_washerFluid#id##"}])
}

// AL FUEL AUTONOMY
if (!"#al_fuelautonomy_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_fuelautonomy_id#id##'] = function(_options) {
    let img = ""
    if (_options.value == 1) {
      img = 'station_gas_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'station_gas_grey_dark.svg'
      } else {
        img = 'station_gas_grey_light.svg'
      }
    }
    document.querySelector('#div_al_fuelautonomy#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_fuelautonomy_id#id##', value: "#al_fuelautonomy#id##"}])
}

// AL ELECTRIC AUTONOMY
if (!"#al_electricautonomy_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_electricautonomy_id#id##'] = function(_options) {
    let img = ""
    if (_options.value == 1) {
      img = 'station_recharge_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'station_recharge_grey_dark.svg'
      } else {
        img = 'station_recharge_grey_light.svg'
      }
    }
    document.querySelector('#div_al_electricautonomy#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_electricautonomy_id#id##', value: "#al_electricautonomy#id##"}])
}

// AL TYRE
if (!"#al_tyre_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_tyre_id#id##'] = function(_options) {
    let img = ""
    if (_options.value >= 1) {
      img = 'tyre_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'tyre_grey_dark.svg'
      } else {
        img = 'tyre_grey_light.svg'
      }
    }
    document.querySelector('#div_al_tyre#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_tyre_id#id##', value: "#al_tyre#id##"}])
}

// AL LIGHT
if (!"#al_light_id#id##".startsWith('#')) {
  jeedom.cmd.update['#al_light_id#id##'] = function(_options) {
    let img = ""
    if (_options.value == 1) {
      img = 'light_red.svg'
    } else {
      if (document.body.getAttribute('data-theme').endsWith('Dark')) {
        img = 'light_grey_dark.svg'
      } else {
        img = 'light_grey_light.svg'
      }
    }
    document.querySelector('#div_al_light#id# img').setAttribute('src','/plugins/volvocars/desktop/img/' + img)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#al_light_id#id##', value: "#al_light#id##"}])
}

// PRESENCES
// =========
function updatePresence(presence_id, site_name, _options) {
  if (_options.value == 1) {
    document.querySelector('.Cmd' + presence_id).empty().html('<i class="fas fa-house-user color_on" style="font-size:1.75em;"></i>');
  } else if (_options.value == 0) {
    document.querySelector('.Cmd' + presence_id).empty().html('<i class="fas fa-home color_off" style="font-size:1.75em;"></i>');
  } else {
    document.querySelector('.Cmd' + presence_id).empty().html('<i class="fas fa-house-damage" style="font-size:1.75em;"></i>');
  }
}
if (!"#presenceSite1_id#id##".startsWith('#')) {
  jeedom.cmd.update['#presenceSite1_id#id##'] = function(_options) {
    updatePresence('#presenceSite1_id#id##', '#site1_name#id##', _options)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#presenceSite1_id#id##', value: '#presenceSite1#id##'}]);
}
if (!"#presenceSite2_id#id##".startsWith('#')) {
  jeedom.cmd.update['#presenceSite2_id#id##'] = function(_options) {
    updatePresence('#presenceSite2_id#id##', '#site2_name#id##', _options)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#presenceSite2_id#id##', value: '#presenceSite2#id##'}]);
}

// DISTANCES
// =========
function updateDistance(distance_id, color_class, _options) {
  let value = parseFloat(_options.value)
  let unit = _options.unit
  if (unit == 'm') {
    if (value > 100000) {
      value = (value/1000).toFixed(0)
      unit = 'Km'
    } else if (value > 10000) {
      value = (value/1000).toFixed(1)
      unit = 'Km'
    } else if (value > 1000) {
      value = (value/1000).toFixed(2)
      unit = 'Km'
    }
  }
  document.querySelector('.Cmd' + distance_id).empty().html('<span class="' + color_class + '">' + value + ' ' + unit + '</span>')
}
if (!"#distanceSite1_id#id##".startsWith('#')) {
  jeedom.cmd.update['#distanceSite1_id#id##'] = function(_options) {
    let color_class = 'color_off'
    if (_options.value <= #site1_limit#id##) {
      color_class = 'color_on'
    }
    updateDistance('#distanceSite1_id#id##', color_class, _options)
  }
  jeedom.cmd.refreshValue([{
    cmd_id: '#distanceSite1_id#id##',
    value: '#distanceSite1#id##',
    display_value: '#distanceSite1_display_value#id##',
    unit: '#distanceSite1_unit#id##'
  }])
}
if (!"#distanceSite2_id#id##".startsWith('#')) {
  jeedom.cmd.update['#distanceSite2_id#id##'] = function(_options) {
    let color_class = 'color_off'
    if (_options.value <= #site2_limit#id##) {
      color_class = 'color_on'
    }
    updateDistance('#distanceSite2_id#id##', color_class, _options)
  }
  jeedom.cmd.refreshValue([{
    cmd_id: '#distanceSite2_id#id##',
    value: '#distanceSite2#id##',
    display_value: '#distanceSite2_display_value#id##',
    unit: '#distanceSite2_unit#id##'
  }])
}


// ODOMETER
// ========
if (!"#odometer_id#id##".startsWith('#')) {
  jeedom.cmd.update['#odometer_id#id##'] = function(_options) {
    document.querySelector('.value#odometer_id#id##').html(_options.display_value)
    document.querySelector('.unit#odometer_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#odometer_id#id##', display_value: "#odometer_display_value#id##", unit: "#odometer_unit#id##"}])
}

// FUEL
// ====
if (!"#fuelAmount_id#id##".startsWith('#')) {
  jeedom.cmd.update['#fuelAmount_id#id##'] = function(_options) {
    document.querySelector('.value#fuelAmount_id#id##').html(_options.display_value)
    document.querySelector('.unit#fuelAmount_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#fuelAmount_id#id##', display_value: "#fuelAmount_display_value#id##", unit: "#fuelAmount_unit#id##"}])
}

// KM THERMIQUE RESTANTS
//======================
if (!"#fuelAutonomy_id#id##".startsWith('#')) {
  jeedom.cmd.update['#fuelAutonomy_id#id##'] = function(_options) {
    document.querySelector('.value#fuelAutonomy_id#id##').html(_options.display_value)
    document.querySelector('.unit#fuelAutonomy_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#fuelAutonomy_id#id##', display_value: "#fuelAutonomy_display_value#id##", unit: "#fuelAutonomy_unit#id##"}])
}

// CONSO FUEL
//===========
if (!"#consoFuel_id#id##".startsWith('#')) {
  jeedom.cmd.update['#consoFuel_id#id##'] = function(_options) {
    document.querySelector('.value#consoFuel_id#id##').html(_options.display_value)
    document.querySelector('.unit#consoFuel_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#consoFuel_id#id##', display_value: "#consoFuel_display_value#id##", unit: "#consoFuel_unit#id##"}])
}

// CONSO FUEL PARCOURS
//====================
if (!"#consoFuelTrip_id#id##".startsWith('#')) {
  jeedom.cmd.update['#consoFuelTrip_id#id##'] = function(_options) {
    document.querySelector('.value#consoFuelTrip_id#id##').html(_options.display_value)
    document.querySelector('.unit#consoFuelTrip_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#consoFuelTrip_id#id##', display_value: "#consoFuelTrip_display_value#id##", unit: "#consoFuelTrip_unit#id##"}])
}

// BATTERY LEVEL
// =============
if (!"#batteryLevel_id#id##".startsWith('#')) {
  jeedom.cmd.update['#batteryLevel_id#id##'] = function(_options) {
    document.querySelector('.value#batteryLevel_id#id##').html(_options.display_value)
    document.querySelector('.unit#batteryLevel_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#batteryLevel_id#id##', display_value: "#batteryLevel_display_value#id##", unit: "#batteryLevel_unit#id##"}])
}

// KM ELECTRIQUE RESTANTS
// ======================
if (!"#electricAutonomy_id#id##".startsWith('#')) {
  jeedom.cmd.update['#electricAutonomy_id#id##'] = function(_options) {
    document.querySelector('.value#electricAutonomy_id#id##').html(_options.display_value)
    document.querySelector('.unit#electricAutonomy_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#electricAutonomy_id#id##', display_value: "#electricAutonomy_display_value#id##", unit: "#electricAutonomy_unit#id##"}])
}

// CONSO ELECTRIQUE
//=================
if (!"#consoElectric_id#id##".startsWith('#')) {
  jeedom.cmd.update['#consoElectric_id#id##'] = function(_options) {
    document.querySelector('.value#consoElectric_id#id##').html(_options.display_value)
    document.querySelector('.unit#consoElectric_id#id##').html(_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#consoElectric_id#id##', display_value: "#consoElectric_display_value#id##", unit: "#consoElectric_unit#id##"}])
}

// PRISE
// =====
if (!"#connectorStatus_id#id##".startsWith('#')) {
  jeedom.cmd.update['#connectorStatus_id#id##'] = function(_options) {
    document.querySelector('.value#connectorStatus_id#id##').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#connectorStatus_id#id##', display_value: "#connectorStatus_display_value#id##"}])
}

// RECHARGE
// ========
if (!"#chargingStatus_id#id##".startsWith('#')) {
  jeedom.cmd.update['#chargingStatus_id#id##'] = function(_options) {
    document.querySelector('.value#chargingStatus_id#id##').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#chargingStatus_id#id##', display_value: "#chargingStatus_display_value#id##"}])
}

// RECHARGE END TIME
// =================
if (!"#chargingEndTime_id#id##".startsWith('#')) {
  jeedom.cmd.update['#chargingEndTime_id#id##'] = function(_options) {
    if (_options.display_value == '') {
      document.querySelector(".value#chargingEndTime_id#id##").closest('div').addClass('hidden')
    } else {
      document.querySelector(".value#chargingEndTime_id#id##").closest('div').removeClass('hidden')
      document.querySelector('.value#chargingEndTime_id#id##').html(_options.display_value)
    }
  }
  jeedom.cmd.refreshValue([{cmd_id: '#chargingEndTime_id#id##', display_value: "#chargingEndTime_display_value#id##", unit: "#chargingEndTime_unit#id##"}])
}

// VERROUILLAGE
// ============
if (!"#locked_id#id##".startsWith('#')) {
  jeedom.cmd.update['#locked_id#id##'] = function(_options) {
    document.querySelector('.value#locked_id#id##').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#locked_id#id##', display_value: "#locked_display_value#id##"}])
}

// ACCESSIBILITE
// =============
if (!"#availability_id#id##".startsWith('#')) {
  jeedom.cmd.update['#availability_id#id##'] = function(_options) {
    document.querySelector('.value#availability_id#id##').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#availability_id#id##', display_value: "#availability_display_value#id##"}])
}
if (!"#unavailableReason_id#id##".startsWith('#')) {
  jeedom.cmd.update['#unavailableReason_id#id##'] = function(_options) {
    document.querySelector('.value#unavailableReason_id#id##').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#unavailableReason_id#id##', display_value: "#unavailableReason_display_value#id##"}])
}

// TYRE
// ====
if (!"#tyreFl_id#id##".startsWith('#')) {
  jeedom.cmd.update['#tyreFl_id#id##'] = function(_options) {
    document.querySelector('.Cmd#tyreFl_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#tyreFl_id#id##', display_value: "#tyreFl_display_value#id##"}])
}
if (!"#tyreFr_id#id##".startsWith('#')) {
  jeedom.cmd.update['#tyreFr_id#id##'] = function(_options) {
    document.querySelector('.Cmd#tyreFr_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#tyreFr_id#id##', display_value: "#tyreFr_display_value#id##"}])
}
if (!"#tyreRl_id#id##".startsWith('#')) {
  jeedom.cmd.update['#tyreRl_id#id##'] = function(_options) {
    document.querySelector('.Cmd#tyreRl_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#tyreRl_id#id##', display_value: "#tyreRl_display_value#id##"}])
}
if (!"#tyreRr_id#id##".startsWith('#')) {
  jeedom.cmd.update['#tyreRr_id#id##'] = function(_options) {
    document.querySelector('.Cmd#tyreRr_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#tyreRr_id#id##', display_value: "#tyreRr_display_value#id##"}])
}

// DOORS
// =====
function show_opening (name, value) {
  switch(value) {
    case 'CLOSED':
      document.querySelector('#topView#id# .' + name + 'Open').addClass('hidden')
      document.querySelector('#topView#id# .' + name + 'Closed').removeClass('hidden')
      break
    case 'OPEN':
    case 'AJAR':
      document.querySelector('#topView#id# .' + name + 'Closed').addClass('hidden')
      document.querySelector('#topView#id# .' + name + 'Open').removeClass('hidden')
      break
    default:
      document.querySelector('#topView#id# .' + name + 'Closed').addClass('hidden')
      document.querySelector('#topView#id# .' + name + 'Open').addClass('hidden')
  }
}
if (!"#doorFlState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#doorFlState_id#id##'] = function(_options) {
    show_opening('doorFl', _options.value)
    document.querySelector('.Cmd#doorFlState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#doorFlState_id#id##', value: "#doorFlState#id##", display_value: "#doorFlState_display_value#id##"}])
}
if (!"#doorFrState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#doorFrState_id#id##'] = function(_options) {
    show_opening('doorFr', _options.value)
    document.querySelector('.Cmd#doorFrState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#doorFrState_id#id##', value: "#doorFrState#id##", display_value: "#doorFrState_display_value#id##"}])
}
if (!"#doorRlState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#doorRlState_id#id##'] = function(_options) {
    show_opening('doorRl', _options.value)
    document.querySelector('.Cmd#doorRlState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#doorRlState_id#id##', value: "#doorRlState#id##", display_value: "#doorRlState_display_value#id##"}])
}
if (!"#doorRrState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#doorRrState_id#id##'] = function(_options) {
    show_opening('doorRr', _options.value)
    document.querySelector('.Cmd#doorRrState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#doorRrState_id#id##', value: "#doorRrState#id##", display_value: "#doorRrState_display_value#id##"}])
}

// WINDOWS
// =======
if (!"#winFlState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#winFlState_id#id##'] = function(_options) {
    document.querySelector('.Cmd#winFlState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#winFlState_id#id##', display_value: "#winFlState_display_value#id##"}])
}
if (!"#winFrState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#winFrState_id#id##'] = function(_options) {
    document.querySelector('.Cmd#winFrState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#winFrState_id#id##', display_value: "#winFrState_display_value#id##"}])
}
if (!"#winRlState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#winRlState_id#id##'] = function(_options) {
    document.querySelector('.Cmd#winRlState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#winRlState_id#id##', display_value: "#winRlState_display_value#id##"}])
}
if (!"#winRsState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#winRsState_id#id##'] = function(_options) {
    document.querySelector('.Cmd#winRsState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#winRsState_id#id##', display_value: "#winRsState_display_value#id##"}])
}

if (!"#hoodState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#hoodState_id#id##'] = function(_options) {
    show_opening('hood', _options.value)
    document.querySelector('.Cmd#hoodState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#hoodState_id#id##', value: "#hoodState#id##", display_value: "#hoodState_display_value#id##"}])
}
if (!"#roofState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#roofState_id#id##'] = function(_options) {
    show_opening('roof', _options.value)
    document.querySelector('.Cmd#roofState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#roofState_id#id##', value: "#roofState#id##", display_value: "#roofState_display_value#id##"}])
}
if (!"#tailState_id#id##".startsWith('#')) {
  jeedom.cmd.update['#tailState_id#id##'] = function(_options) {
    show_opening('tail', _options.value)
    document.querySelector('.Cmd#tailState_id#id## .info_text').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#tailState_id#id##', value: "#tailState#id##", display_value: "#tailState_display_value#id##"}])
}

// STATUS
if (!"#engineON_id#id##".startsWith('#')) {
  jeedom.cmd.update['#engineON_id#id##'] = function(_options) {
    if (_options.value == 1) {
      img = 'engine_green.svg'
    } else {
      if (document.querySelector('body').data('theme').endsWith('Dark')) {
        img = 'engine_grey_dark.svg'
      } else {
        img = 'engine_grey_light.svg'
      }
    }
    document.querySelector('.Cmd#engineON_id#id## img').setAttribute('src','/plugins/volvocars/desktop/img/' + img).data('value',_options.value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#engineON_id#id##', value: "#engineON#id##"}])
}


// SERVICE
if (!"#service_id#id##".startsWith('#')) {
  jeedom.cmd.update['#service_id#id##'] = function(_options) {
    document.querySelector('.Cmd#service_id#id##').html(_options.display_value)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#service_id#id##', value: '#service_state#id##', display_value: '#service_display_value#id##'}])
}
if (!"#engineHoursToService_id#id##".startsWith('#')) {
  jeedom.cmd.update['#engineHoursToService_id#id##'] = function(_options) {
    document.querySelector('.Cmd#engineHoursToService_id#id##').html(_options.display_value + " " +_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#engineHoursToService_id#id##', value: '#engineHoursToService_state#id##', display_value: '#engineHoursToService_display_value#id##', unit: '#engineHoursToService_unit#id##'}])
}
if (!"#distanceToService_id#id##".startsWith('#')) {
  jeedom.cmd.update['#distanceToService_id#id##'] = function(_options) {
    document.querySelector('.Cmd#distanceToService_id#id##').html(_options.display_value + " " +_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#distanceToService_id#id##', value: '#distanceToService_state#id##', display_value: '#distanceToService_display_value#id##', unit: '#distanceToService_unit#id##'}])
}
if (!"#timeToService_id#id##".startsWith('#')) {
  jeedom.cmd.update['#timeToService_id#id##'] = function(_options) {
    document.querySelector('.Cmd#timeToService_id#id##').html(_options.display_value + " " +_options.unit)
  }
  jeedom.cmd.refreshValue([{cmd_id: '#timeToService_id#id##', value: '#timeToService_state#id##', display_value: '#timeToService_display_value#id##', unit: '#timeToService_unit#id##'}])
}
if (!"#serviceTrigger_id#id##".startsWith('#')) {
  jeedom.cmd.update['#serviceTrigger_id#id##'] = function(_options) {
    document.querySelector('.Cmd#serviceTrigger_id#id##').html(_options.display_value + "&nbsp;")
  }
  jeedom.cmd.refreshValue([{cmd_id: '#serviceTrigger_id#id##', value: '#serviceTrigger_state#id##', display_value: '#serviceTrigger_display_value#id##'}])
}

//  // POSITION
//  if (!"#position_id#id##".startsWith('#')) {
//    jeedom.cmd.update['#position_id#id##'] = function(_options) {
//      document.querySelector('iframe.Cmd#position_id#id##').setAttribute('src',"http://map.google.com/maps?hl=fr&ie=utf8&output=embed&q=" + _options.display_value)
//    }
//    jeedom.cmd.refreshValue([{cmd_id: '#position_id#id##', value: '#position_state#id##', display_value: '#position_display_value#id##'}])
//  }
//
// MISE A JOUR DES TEXTES INFO
// ===========================
if (!"#msg2widget_id#id##".startsWith('#')) {
  jeedom.cmd.update['#msg2widget_id#id##'] = function(_options) {
    let messages = json_decode(_options.value)
    for (let cible in messages) {
      let msg = ''
      let sep = ''
      for (let id in messages[cible]) {
        msg += sep + messages[cible][id]
        sep = '<br>'
      }
      document.querySelector('#'+cible + '#id#').setAttribute('title',msg)
    }
  }
  jeedom.cmd.refreshValue([{cmd_id: '#msg2widget_id#id##', value: "#msg2widget#id##"}])
}

</script>
