/*
 * vim: tabstop=4 autoindent
 */

.blur {
  filter: blur(3px);
}

.blur:hover {
  filter: blur(0);
}

#drop-area {
  margin: 20px auto;
  text-align: center;
  line-height: 200px;
  border: 2px dashed #ccc;
  cursor: pointer;
}

#error_message {
  text-align: center;
}

